/* navbar */

.navbar {
  position: sticky;
}

.navbar-color {
  background-color: #04A7C8
}

.gluten-font {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2.2rem;
  font-variation-settings:
    "slnt" 0;
}

.nunito-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.custom-dropdown-menu {
  background-color: white !important;
}

.navbar {
  position: sticky;
  z-index: 1000;
}

.custom-dropdown-menu a.dropdown-item {
  color: #0392af;
}

.custom-dropdown-menu {
  background-color: #04A7C8;
  color: #04A7C8 !important;
}

.custom-dropdown-menu .dropdown-divider {
  border-color: #0392af;

}

/*home*/

.background-image {
  width: 100%;
  height: 90.4vh;

}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}


.content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
}

.hello-human {
  font-size: 9rem;
  padding-left: 4rem;
  line-height: 1.2;
}

.cat-image {
  width: 35rem;
  height: auto;
}

.text-link {
  color: #ffffff;

  text-decoration: underline;

}

.text-link:hover {
  color: #FFCA8A;

}

/* login */
.login-container {
  width: calc(100% - 12px);
  height: calc(100vh - 91px);
}

.blue-background {
  background: linear-gradient(to right, #04A7C8, white);
}

.white-background {
  background-color: #FFFFFF;
}

.login-title {
  font-family: "Afacad Flux", sans-serif;
  color: #04A7C8;
  position: relative;
  margin-top: 7.5rem;
}

.underline {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #04A7C8;
  margin-top: 10px;
}

.afacad-flux {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.custom-input {
  width: 100%;
  font-size: 1rem;
}

.custom-input::placeholder {
  font-family: "Afacad Flux", sans-serif;
  font-size: 1rem;
}

.custom-input:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #04A7C8;
}

.button-login {
  background-color: white !important;
  border: 1px solid #04A7C8 !important;
  color: #04A7C8 !important;
}

.button-login:hover {
  background-color: #04A7C8 !important;
  border: 1px solid #04A7C8 !important;
  color: white !important;
}

.signup-link {
  color: #04A7C8;
}

.signup-link:hover {
  color: #02758b;
}

.dog-picture {
  object-fit: contain;
  width: 13rem;
  margin-top: 4rem;
}

.error-message {
  color: rgb(231, 0, 0);
  margin-top: 20px;
}

/* signup  */

#gender-dropdown {
  width: 100%;
  background-color: white !important;
  color: #04A7C8;
  border: 1px solid #04A7C8 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu.show {
  width: 100%;
}

.custom-date-input {
  color: #333;
  border: 1px solid #04A7C8;

}

.custom-date-input:focus {
  background-color: #e6f7ff;
  color: #333;
  border-color: #04A7C8;
}


/* risultati */

.title-result {
  font-size: 1.5rem;
  font-weight: 700;
  color: #04A7C8;
}

.scrollable-container {
  max-height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #04A7C8;
  border-radius: 4px;
}

.download-pdf {
  height: 3rem;
}

.div-disease {
  margin-bottom: 8px;
}

.disease-link:hover {
  color: #04A7C8 !important;
}

/* malattie */

.disease-description {
  font-size: large;
  line-height: 30px;
}

.disease-title {
  color: #04A7C8;
}

.disease-symptoms {
  cursor: pointer !important;
}

/* pets */

.animal-picture {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #04A7C8;
}

.pet-name,
.card-title {
  color: #04A7C8 !important;
}

.card-title {
  min-height: 48px;
}

.card-option {
  min-height: 72px;
}


.pet-item {
  border-bottom: 1px solid #FFCA8A;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.no-scroll {
  height: 50vh;
}

.spinner {
  color: #04A7C8;
}

.row-index {
  z-index: 1;
}

.paw-prints {
  bottom: 0px;
  right: 0px;
  opacity: 0.2;
}

/* chart */

.outer-border {
  display: flex;
  width: 90%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.left-border,
.center-border,
.right-border {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 7px;
  height: 20px;

}

.min-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: grey;
  left: 30%;
}

.max-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: grey;
  left: 70%;
}

.about-us {
  color: #04A7C8 !important;
}

.paws-about-us {
  z-index: -1;
}

.card-about-us {
  z-index: 1;
}

.paws-about-us-2 {
  z-index: -1;
  top: 30px;
  opacity: 0.2;
}

.paws-bloodtest-2,
.paws-account-2 {
  z-index: -1;
  top: 50px;
  left: 0;
  opacity: 0.2;
}

/* footer */

.values-container {
  min-height: 100vh !important;
}

.footer {
  background-color: rgba(4, 167, 200, 0.2);
  color: #04A7C8;
  padding: 20px 0;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer h2 {
  margin-bottom: 10px;
  text-align: center;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer .social-icons a {
  color: #04A7C8;
  margin: 0 16px;
  text-decoration: none;
}

.footer .copy {
  font-size: 14px;
  text-align: center;
}

.container-options {
  height: 100%;
}

.div-bloodtest {
  min-height: 91vh;
}

.div-exams {
  min-height: 100vh;
}

.account-container {
  height: 90vh;
}

.paws-values {
  z-index: -1;
  top: 50px;
  left: 0;
  opacity: 0.2;
}

.paws-values-2 {
  z-index: -1;
  bottom: 0px;
  opacity: 0.2;
  right: 0;
}

.form-values {
  z-index: 1;
}

.pets-container {
  height: 75vh;
}

.account-container {
  height: 65vh;
}

.spinner-container {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
}

.position-relative {
  position: relative;
}


/* responsività */

@media (min-width: 768px) and (max-width: 1120px) {
  .cat-image {
    width: 24rem;
    margin-top: 20rem;
  }
}

@media (max-width: 768px) {
  .cat-image {
    width: 25rem;
    top: 50%;
  }

  .hello-human {
    font-size: 5rem;
  }

  .blue-background {
    height: 0;
  }

  .login-title {
    margin-top: 2rem;
  }

  .dog-picture {
    margin-top: 5rem;
  }

  .title-result {
    font-size: 1rem;
  }

  .text-result {
    font-size: 0.8rem;
  }

  .scrollable-container {
    max-height: 80%;
  }

  .menu-button {
    margin-top: -400px;
  }

  .pathologies {
    margin-top: -30px;
  }

  .test-title {
    font-size: 2.5rem;
  }

  .animal-picture {
    width: 120px !important;
    height: 120px !important;
    margin-top: -120px;
  }

  .buttons-pets {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    margin-left: -160px;
  }

  .text-pets {
    font-size: 0.9rem;
  }




}